mixin body
  div
    h1 Howdy! I'm&amp;nbsp
    h1.highlight Sarthak Mohanty.
    br
    h3 I love #[strike reading textbooks] developing random things and making look good. 
    br
    h3 I'm currently relatively useless cause I'm a freelancer.
    h2 Currently, I&apos;m...
    br
    h3
      | Attending 
      a.highlight(target='_blank' href='http://nisd.net/brandeis') Louis D. Brandeis High School
    h4
      | I&apos;m a junior trying my hardest to not try. I&apos;m also a stressed student taking mostly AP classes.
  here
    h2 Some things I&apos;ve done in the past...
    h3
      | Worked at 
      a.highlight(target='_blank' href='https://fiveable.me/') Fiveable
      |  as a Social Media Manager and Research Intern
    h4
      | I mainly did graphic design. I also managed the
      a.highlight(target='_blank' href='https://instagram.com/thinkfiveable') main Instagram
      | and the other
      a.highlight(target='_blank' href='https://instagram.com/teachfiveable') instagram
      | and made posts and marketing campaigns to target students and teachers.
  br
  .icons
    h3 Find me here:
    a(target='_blank' href='https://nerdstagram.com/sarthaktexas')
      img(src='/icons/github.png')
    a(target='_blank' href='https://www.linkedin.com/in/sarthaktexas/')
      img(src='/icons/linkedin.png')
    a(target='_blank' href='https://twitter.com/sarthaktexas')
      img(src='icons/twitter.png')
