mixin body
  div
    h1 Howdy! 🤠 I'm #[span.highlight Sarthak Mohanty].
    br
    h3 I'm 15 and I love #[strike reading textbooks] developing random things and making them look #[em good].
    h3 Technically, I'm a #[span.highlight Full Stack Web Developer 💻] and #[span.highlight Designer ✏️]. And I got some skills too:
    br
    button.skill Management
    button.skill Research
    button.skill Leadership
    button.skill Active Communication
    button.skill Teamwork
    button.skill Time Management
    button.skill Teaching
    button.skill Creativity
    button.skill Photography
    button.skill Copy & Social Media
    button.skill Graphic Design
    button.skill UI/UX Design
    button.skill Product Design
    button.skill Visual Design
    button.skill Web Design
    p *not in any particular order
    h2 Currently, I&apos;m...
    br
    h3
      | Attending 
      a.highlight(target='_blank' href='http://nisd.net/brandeis') Louis D. Brandeis High School
    h4
      | I&apos;m a #[span.underline junior] trying my hardest to not try. I&apos;m also a stressed student taking mostly AP classes.
    h3
      | Coleading the 
      span.highlight(target='_blank' href='http://nisd.net/brandeis') Bowl Clubs
    h4
      | The Bowl Clubs collectively include #[em Science Bowl, Ocean Bowl, and Quiz Bowl]. Starting my second year of high school (11th grade), I was responsible for teaching incoming freshman and updating them of team practices and college-level science and math information. I curated presentations and custom textbooks to help them understand complex topics such as Calculus at an easy-to-learn level and help them understand AP Science subjects from a Pre-AP Science level. This took approximately 20 hours a week but drastically helped out team.
    h3
      | Attending 
      a.highlight(target='_blank' href='https://www.alamo.edu/nvc/') Northwest Vista College
    h4
      | As a Dual Credit Student, I'm taking many courses doubly to earn both AP credit and state credit.
    h3
      | Volunteering at 
      a.highlight(target='_blank' href='https://www.youthcodejam.org/') Youth Code Jam 
      | as a Student Volunteer
    h4
      | I lead stations, workshops, and activities throughout the year during code jams around the greater San Antonio area. I have experience teaching STEM to K-12 and Higher Education.
    h3
      | Spreading education at #[span.highlight Sarthak Mohanty, Inc] as Lead Developer and Subject Leader
    h4
      | Obviously this is #[em my] company, but I make the website and am a Subject Leader Tutor. We currently employ 23 tutors from my school to tutor students #[span.underline around the city] and help students with projects and homework. We instill important pillars of character such as timeliness and proactiveness to help students with college and the future ahead of them.
    h2 Some things I&apos;ve done in the past...
    h3
      | Worked at 
      a.highlight(target='_blank' href='https://fiveable.me/') Fiveable
      |  as a Social Media Manager and Research Intern
    h4
      | I mainly did graphic design. I also managed the 
      a.highlight(target='_blank' href='https://instagram.com/thinkfiveable') main Instagram 
      | and the other 
      a.highlight(target='_blank' href='https://instagram.com/teachfiveable') Instagram 
      | and made posts and marketing campaigns to target students and teachers.
    br
    .icons
      a(target='_blank' href='https://nerdstagram.com/sarthaktexas')
        i.fab.fa-github
      a(target='_blank' href='https://www.linkedin.com/in/sarthaktexas/')
         i.fab.fa-linkedin
      a(target='_blank' href='https://twitter.com/sarthaktexas')
         i.fab.fa-twitter
      a(target='_blank' href='https://dribbble.com/sarthakmohanty')
         i.fab.fa-dribbble
