mixin body
  div
    h1 Howdy! I'm #[span.highlight Sarthak Mohanty].
    br
    h3 I'm 15 and I love #[strike reading textbooks] developing random things and making them look #[i good]. 
    br
    h2 Currently, I&apos;m...
    br
    h3
      | Attending 
      a.highlight(target='_blank' href='http://nisd.net/brandeis') Louis D. Brandeis High School
    h4
      | I&apos;m a junior trying my hardest to not try. I&apos;m also a stressed student taking mostly AP classes. I lead 
    h3
      | Attending 
      a.highlight(target='_blank' href='https://www.alamo.edu/nvc/') Northwest Vista College
    h4
      | As a Dual Credit Student, I'm taking many courses doubly to earn both AP credit and state credit.
    h3
      | Volunteering at 
      a.highlight(target='_blank' href='https://www.youthcodejam.org/') Youth Code Jam 
      | as a #[i Student Volunteer]
    h4
      | I lead stations, workshops, and activities throughout the year during code jams around the greater San Antonio area. I have experience teaching STEM to K-12 and Higher Education.
    h3
      | Spreading education at #[span.highlight Sarthak Mohanty, Inc] as Lead Developer and Subject Leader
    h4
      | Obviously this is #[i my] company, but I make the website and am a Subject Leader Tutor. We currently employ 23 tutors from my school to tutor students around the district and help students with projects and homework. We instill important pillars of character such as timeliness and proactiveness to help students with college and the future ahead of them.
    h2 Some things I&apos;ve done in the past...
    h3
      | Worked at 
      a.highlight(target='_blank' href='https://fiveable.me/') Fiveable
      |  as a Social Media Manager and Research Intern
    h4
      | I mainly did graphic design. I also managed the 
      a.highlight(target='_blank' href='https://instagram.com/thinkfiveable') main Instagram
      | and the other 
      a.highlight(target='_blank' href='https://instagram.com/teachfiveable') Instagram
      | and made posts and marketing campaigns to target students and teachers.
    br
    .icons
      h3 Find me here:
      a(target='_blank' href='https://nerdstagram.com/sarthaktexas')
        i.fab.fa-github
      a(target='_blank' href='https://www.linkedin.com/in/sarthaktexas/')
         i.fab.fa-linkedin
      a(target='_blank' href='https://twitter.com/sarthaktexas')
         i.fab.fa-twitter
