extends layout

block content
  div.error
    h1.huge.rainbow 404
    br
    h2 Not Found.
    p#errorMessage
  footer
  .center
    p "I make really cool pictures, but then I let some people ruin them if they give me money."
    p &copy; Sarthak Mohanty 2020
    .icons
      a(class='kofi' target='_blank' rel="noreferrer noopener" href='mailto:hello@sarthakmohanty.me')
        i.fas.fa-envelope(title='mail icon')
      a(class='kofi' target='_blank' rel="noreferrer noopener" href='tel:2107273516')
        i.fas.fa-phone(title='phone icon')
      a(class='kofi' target='_blank' rel="noreferrer noopener" href='https://ko-fi.com/sarthak')
        i.fas.fa-coffee(title='coffee icon')
      a(class='github' target='_blank' rel="noreferrer noopener" href='https://nerdstagram.com/sarthaktexas')
        i.fab.fa-github(title='github icon')
      a(class='linkedin' target='_blank' rel="noreferrer noopener" href='https://linkedin.com/in/sarthaktexas/')
        i.fab.fa-linkedin(title='linkedin icon')
      a(class='twitter' target='_blank' rel="noreferrer noopener" href='https://twitter.com/sarthaktexas')
        i.fab.fa-twitter(title='twitter icon')
      a(class='dribbble' target='_blank' rel="noreferrer noopener" href='https://dribbble.com/sarthakmohanty')
        i.fab.fa-dribbble(title='dribbble icon')
      a(class='behance' target='_blank' rel="noreferrer noopener" href='https://behance.net/sarthaktexas')
        i.fab.fa-behance(title='behance icon')
      a(class='instagram' target='_blank' rel="noreferrer noopener" href='https://instagram.com/sarthakmohantyy')
        i.fab.fa-instagram(title='instagram icon')
      a(class='spotify' target='_blank' rel="noreferrer noopener" href='https://open.spotify.com/user/sarthak_m')
        i.fab.fa-spotify(title='spotify icon')
    script.
      const errorMessage = new URLSearchParams(window.location.search).get("m");
      document.getElementById("errorMessage").textContent = errorMessage;