extends layout

block footer
  footer
    .center
      p "I help #[span.strike grown-ups who lost their imagination] make stuff look cool."
      p &copy; Sarthak Mohanty 2020
      .icons
        a(class='mail' target='_blank' rel="noreferrer noopener" href='mailto:hello@sarthakmohanty.me')
          i.fas.fa-envelope(title='mail icon')
        a(class='phone' target='_blank' rel="noreferrer noopener" href='tel:+12107273516')
          i.fas.fa-phone(title='phone icon')
        a(class='kofi' target='_blank' rel="noreferrer noopener" href='https://ko-fi.com/sarthak')
          i.fas.fa-coffee(title='coffee icon')
        a(class='github' target='_blank' rel="noreferrer noopener" href='https://nerdstagram.com/sarthaktexas')
          i.fab.fa-github(title='github icon')
        a(class='linkedin' target='_blank' rel="noreferrer noopener" href='https://linkedin.com/in/sarthaktexas/')
          i.fab.fa-linkedin(title='linkedin icon')