mixin header
  h1 Howdy! 👋
  h4 I'm #[span.text-info Sarthak Mohanty], a rising high school junior and a fullstack developer and UI/UX designer. Besides programming I enjoy 📷 photography, 🚵 riding my bike, and hanging out with friends.
  a.btn.btn-social-icon.btn-twitter.sociallink
    span.fab.fa-twitter.text-white
  a.btn.btn-social-icon.btn-twitter.sociallink
    span.fab.fa-twitter.text-white
  a.btn.btn-social-icon.btn-twitter.sociallink
    span.fab.fa-twitter.text-white
  a.btn.btn-social-icon.btn-twitter.sociallink
    span.fab.fa-twitter.text-white
  