img(src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/' + latitude + ',' + longitude + ',14.25,0,60/600x600?access_token=pk.eyJ1Ijoic2FydGhha21vaGFudHkiLCJhIjoiY2tkY2RyeWhhMTBmaTJ4cnk1bWUzdXRrNCJ9.cpOzti6FOUnKHjCG7o2wrQ')

//https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-122.4241,37.78,14.25,0,60/600x600?access_token=pk.eyJ1Ijoic2FydGhha21vaGFudHkiLCJhIjoiY2tkY2RyeWhhMTBmaTJ4cnk1bWUzdXRrNCJ9.cpOzti6FOUnKHjCG7o2wrQ"

//https://api.mapbox.com/styles/v1/sarthakmohanty/ckdcehe3017o21iunto49123b.html?fresh=true&title=view&access_token=pk.eyJ1Ijoic2FydGhha21vaGFudHkiLCJhIjoiY2tkY2RyeWhhMTBmaTJ4cnk1bWUzdXRrNCJ9.cpOzti6FOUnKHjCG7o2wrQ