<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <meta http-equiv="refresh" content="2;url=https://www.notion.so/sarthakmohanty/Public-Directory-of-Sarthak-the-Stupid-8feff445502242ce9cf106795364b360" />
  <title>what</title>
  </head
>