* {
  font-family: "Inter", sans-serif;
  color: white;
  cursor: crosshair;
}

div {
  border-radius: 25%;
  max-width: 40rem;
  margin: 2rem 2rem 2rem 4rem;
  display: inline-block;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url("https://cdn.glitch.com/52a09d93-774c-49a5-8883-9ac50e4c6dbf%2Fng-background-dot.png?v=1594606637112");
  background-color: #140D1A;
}

h1 {
  text-align: left;
  font-size: 35px;
  margin: 1rem 0 1rem 0;
  display: inline-block;
}

.highlight {
  color: #FF5757;
}

h2 {
  font-size: 30px;
  margin: 1rem 0 0.5rem 0;
  display: inline-block;
  text-emphasis: bold;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 0.5rem 0;
  text-decoration: none;
  display: inline-block;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 0.5rem 4rem;
  text-decoration: none;
  display: inline-block;
}

.icons h4 {
  color: black;
  font-size: 20px;
  margin: 0 0 2rem 0;
  text-decoration: none;
  display: inline-block;
}

a {
  color: #FF5757;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  filter: brightness(80%);
  margin: 0;
  padding: 0;
}

a:visited {
  color: #FF5757;
}

.icons i {
  font-size: 20px;
  padding: 10px;
}

.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.skill {
  background-color: #FF5757;
  border: none;
  color: black;
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  pointer-events: none;
  cursor: not-allowed;
}


.morph {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  animation: morphing 10s infinite;
  overflow: hidden;
}
.morph:hover {
  animation-play-state: paused;
}
.morph h1 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: auto;
}
@-moz-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-o-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
